---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-6xl font-black">Hi, I'm ErikGXDev.</h1>
  <p>
    Hi, I'm a Fullstack Developer from Germany. I'm interested in creating
    websites and digital designing.
  </p>
</Layout>
